<h1><%= title %></h1>

<%= render_errors %>
<form action="<%= action %>" method="POST">
  
  <%= auth_token_input %>
  
  <label>
    Email:
    <input type="text" name="user[email]">
  </label>
  
  <br>
  
  <label>
    Password:
    <input type="password" name="user[password]">
  </label>
  
  <br>
  
  <input type="submit" value="<%= button %>">
  
</form>