<h1><%= @post.title %></h1>

<ul>
  <li>Posted by: <%= @post.submitter.email %>  -
    <%= time_ago_in_words(@post.created_at) %> ago</li>
  <li>Url: <%= @post.url %></li>

</ul>

<p><%= @post.content %></p>

<% if permitted_to_edit?(@post) %>
<%= link_to "Edit Post", edit_post_url(@post) %>
<br>
<% end %>

<%= link_to "Back to #{@post.sub.title}", sub_url(@post.sub) %>

<br>
<h3>Comments:</h3>
<%= link_to "New Comment on Post", new_post_comment_url(@post) %>
<br>

<% @all_comments.each do |c1| %>
<% next if c1.parent_comment_id %>
<%= render 'comments/comment', c1: c1 %>
<% end %>